
.idea/vcs.xml
.idea/9TensorFlow.iml
.idea/9TensorFlow.iml
__pycache__/ClothingPlotting.cpython-311.pyc
.idea/9TensorFlow.iml
.idea/9TensorFlow.iml
aclImdb_v1.tar.gz
aclImdb
__pycache__/DatasetDownloader.cpython-311.pyc
test
train
__pycache__/Plotting.cpython-311.pyc
my_new_model
demo_saved
